<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/nulls-brawls-ios-v-45.198_202210/Null%E2%80%99s%20Clash%20IOS%20%5Bv15.0.2%5D.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://www.heangzover.com/image/Heang.PNG</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>p3.xyz.yyyue.esign2</string>
<key>bundle-version</key>
<string>4.6.4</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>ESign

CHANNEL : @HeangIOSIPA

Enjoy✅☺️</string>
</dict>
</dict>
</array>
</dict>
</plist>